*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    width: 100vw;
}


p {
    line-height: 250%;
}

#header-nav {
    background-color: #7952B3;
    color: whitesmoke;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1 {
    color: whitesmoke;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: -15px;
}

#button {
    border: 1px solid #00203FFF;
    color: #FFE484;
}
span.icon-bar{
    color: #FFE484;
}

#nav-list li {
    font-size: 30px;
    font-weight: 600;
    color: #FFF;
    border-bottom: 1px solid black;
    padding-bottom: 7px;
}

#nav-list #last-item {
    border: none;
    padding-bottom: 0;
}

#collapsable-nav a{
    text-decoration: none;
}



#main-content {
    height: 150vh;
}

#page-title {
    color: #28334AFF;
    font-size: 4rem;
    margin-top: -5px;
}

#main-section {
    margin: 0 0 0 0;
    color: whitesmoke;
}

.content{
    background-color: #7952B3;
    padding: 7px;
    margin: 10px;
    width: 30%;
    border: 3px solid  #FFE484;
}

@media (max-width: 767px) {
    .collapse.in {
        background-color: #7952B3;
        
    }
    
    .col-xs-12{
            width: 100%;
        }
    
    #collapsable-nav a li.visible-xs:hover{
    transform: scale(1.2);
    -webkit- transform: scale(1.20);
    -moz-  transform: scale(1.20);
    -o-  transform: scale(1.20);
    
        
}
}

@media (min-width: 768px) and (max-width: 991px)
.col-md-6{
    float: left;
    width: 50%;
}

@media (min-width: 1200px)
p > .col-lg-4 {
    float: left;
    width: 30.33%;
    padding: 20px;
}